.main {
  margin: 40px;
}
.user-table {
  width: 100%;
  border-collapse: collapse;
}

.user-table th,
.user-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.user-table th {
  background-color: rgb(2, 94, 47);
}

.user-table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

.user-table tbody tr:hover {
  background-color: #e2e2e2;
}

.user-table button {
  margin-right: 15px;
  padding: 5px 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.btn-edit,
.btn-delete,
.btn-view {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-edit {
  background-color: #07771d !important;
  color: #08770d;
}

.btn-delete {
  background-color: #9d0211 !important;
  color: #990606;
}

.btn-view {
  background-color: #1366a6;
  color: #fff;
}

.btn-edit:hover,
.btn-delete:hover,
.btn-view:hover {
  opacity: 0.8;
}

@media screen and (max-width: 500px) {
  .main {
    width: auto;
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    height: 90vh;
  }
  .user-table {
    width: 100%; /* Make the table take the full width */
    background-color: #007bff;
  }
  tbody thead {
    margin-right: 40px; /* This selector might not be correct. Make sure you are targeting the correct elements */
  }
}